@import "../../_globalColor";

.main {
  padding-top: 4rem;    // Added padding
  padding-bottom: 4rem; // Added padding
  width: 90%;
  margin: 0 auto;
}

.project-title {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
  text-align: center; // Ensured centering
  margin-bottom: 2rem;
}

/* Keeping original styles below */
.projects-heading {
  text-align: center;
  margin-bottom: 10px;
}

.startup-project-text img {
  max-width: 100%;
  height: auto;
}

.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem 1rem;
  margin-bottom: 2rem; // Added space before button
}

.project-button {
  display: block;
  width: fit-content;
  margin: 0 auto; // Center button
}


/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .main {
     width: 95%;
  }
  .project-title {
    font-size: 30px;
    text-align: center;
  }
  .repo-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}